body {
    font-family: 'Arial', sans-serif;
    padding: 5%; /* Adjusted padding */
    background-color: #f4f4f4;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Set a minimum height for the body */
    background-image: url(6544932.jpg);
}
.container {
    text-align: center;
    max-width: 80%;
    background-color: white; /* Transparent white background */
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px); /* Blur effect */
}

#proposalButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e74c3c; /* Heart color */
    color: #fff;
    border: none;
    border-radius: 50px; /* Half of the button height to make it circular */
}

#proposalButton::before,
#proposalButton::after {
    content: '\2764'; /* Unicode heart character */
    font-size: 24px;
    color: #fff;
    position: relative;
    top: -6px;
    margin: 0 5px;
}

.hidden {
    display: none;
}

.butterfly {
    position: absolute;
    width: 30px;
    height: 20px;
    background-image: url('pngwing.com\ \(2\).png'); /* Replace with your butterfly image */
    background-size: cover;
    animation: flutter 2s infinite alternate;
}

@keyframes flutter {
    to {
        transform: translateY(-10px) rotateZ(10deg);
    }
}